body{
    background-color: rgb(60, 37, 126);
    margin: 0 auto;
    font-family: sans-serif,Arial,helvetica;
}

#intro{
    color: antiquewhite;
    width: 842px;
    height: 143px;
    border: 3px solid #73AD21;
    border-radius: 5px;
}

#hobbies{
    color: aqua;
    width: 353px;
    height: 150px;
    border: 3px solid #73AD21;
    border-radius: 5px;
    margin: 0px 0px 0px 46px;
}
#mainContainer{
    width: 850px;
    margin: 0px auto;
}

#introcontainer{
    width: 470px;
    margin: 0px 0px 0px 0px;
}

#hobbycontainter h2{
    margin: 0px;
}

#name{
    float: left;
    margin: 0px -133px 0px 351px;
}

#meimage{
    float: left;
    width: 879px;
    height: 467px;
}

#intro{
    float: left;
}
#test{
    float: left;
    width: 445px;
    height: 150px;
    border: 3px solid #73AD21;
    border-radius: 5px;
    margin: 0px -47px 0px 0px;
}

#music{
    float: left;
    margin: 0px 0px 0px 0px;
}

#hobbies{
    float: left;
    
}

#album{
    float: left;
}

.socials{
    float: left;
    margin: 30px 0px 0px 00px;
    width: 100px;
    height: 50px;
    background-color: #fff;
}

#navigation{
    height: 30px;
    padding: 30px;
}

#navigation a{
    padding: 5px;
    background-color: aquamarine;
    text-decoration: none;
    border-radius: 10px;
}

#navigation a:hover {
    background-color: rgb(70, 178, 142);
}


#coolmiami{
    width: 90px;
    height: 90px;
}